In [1]:
import pandas as pd 

df = pd.read_csv(r"C:\Users\USER\Desktop\dataset\spotify_top_songs_audio_features.csv")

# Data Exploration

In [2]:
# Review data structure

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6513 entries, 0 to 6512
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                6513 non-null   object
 1   artist_names      6513 non-null   object
 2   track_name        6513 non-null   object
 3   source            6513 non-null   object
 4   key               6513 non-null   object
 5   mode              6513 non-null   object
 6   time_signature    6513 non-null   object
 7   danceability      6513 non-null   float64
 8   energy            6513 non-null   float64
 9   speechiness       6513 non-null   float64
 10  acousticness      6513 non-null   float64
 11  instrumentalness  6513 non-null   float64
 12  liveness          6513 non-null   float64
 13  valence           6513 non-null   float64
 14  loudness          6513 non-null   float64
 15  tempo             6513 non-null   float64
 16  duration_ms       6513 non-null   int64
 17  weeks_on_chart    6513 non-null   int64
 18  streams           6513 non-null   int64
dtypes: float64(9), int64(3), object(7)
memory usage: 966.9+ KB

In [3]:
# Check Null

df.isnull().sum()

id                  0
artist_names        0
track_name          0
source              0
key                 0
mode                0
time_signature      0
danceability        0
energy              0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
loudness            0
tempo               0
duration_ms         0
weeks_on_chart      0
streams             0
dtype: int64

In [86]:
# Random review the data

df.sample(10)

,id,artist_names,track_name,source,key,mode,time_signature,danceability,energy,speechiness,...,instrumentalness,liveness,valence,loudness,tempo,duration_ms,weeks_on_chart,streams,artist_list,first_artist
3713,4RbbzNY4MEcgzewYWkIsGu,"NAV, The Weeknd",Price On My Head (feat. The Weeknd),"XO Records, LLC and Republic Records",F#/Gb,Minor,4 beats,0.77,0.57,0.14,...,0.00,0.34,0.28,-6.10,74.95,217776,1,"6,755,123.00","[NAV, The Weeknd]",NAV
4195,4zI04ezdmrN0lT2pHykYrd,"XXXTENTACION, Travis Barker",Pain = BESTFRIEND - feat. Travis Barker,"Bad Vibes Forever, LLC",E,Major,4 beats,0.67,0.63,0.03,...,0.15,0.12,0.59,-5.12,135.00,101517,1,"4,680,669.00","[XXXTENTACION, Travis Barker]",XXXTENTACION
6075,7HCTUZPqclRvsiefXWwyFz,"Ufo361, RAF Camora",Nummer,Stay High,B,Minor,4 beats,0.69,0.64,0.13,...,0.00,0.10,0.29,-6.86,193.85,182214,1,"4,462,744.00","[Ufo361, RAF Camora]",Ufo361
1614,1xy4apMFecGGkgBeaHFZ2M,Lauv,Chasing Fire,Lauv,F,Major,4 beats,0.71,0.56,0.07,...,0.00,0.22,0.39,-4.86,125.97,205267,6,"27,984,186.00",[Lauv],Lauv
2103,2UwALqx6yOsXTFt7zRxnts,"Pop Smoke, Kanye West, Pusha T",Tell The Vision (feat. Kanye West & Pusha T),Victor Victor Worldwide,G,Major,4 beats,0.66,0.69,0.33,...,0.00,0.35,0.68,-8.30,143.97,215000,1,"8,859,168.00","[Pop Smoke, Kanye West, Pusha T]",Pop Smoke
4706,5b195aHKKd6oTr4f7DoRCo,MERO,Olabilir,Groove Attack TraX,F#/Gb,Major,4 beats,0.74,0.78,0.03,...,0.00,0.10,0.78,-6.68,139.91,208023,3,"19,551,549.00",[MERO],MERO
6410,7sO5G9EABYOXQKNPNiE9NR,"Offset, Metro Boomin",Ric Flair Drip (with Metro Boomin),"Slaughter Gang, LLC/Epic/Quality Control Music...",A,Major,4 beats,0.88,0.43,0.21,...,0.00,0.11,0.33,-8.28,100.01,172800,67,"468,474,147.00","[Offset, Metro Boomin]",Offset
3265,3tDqEKKUs6gf8zMvSuLyLA,"Lil Baby, Lil Uzi Vert",Commercial (feat. Lil Uzi Vert),Quality Control/Motown Records,B,Minor,4 beats,0.89,0.49,0.38,...,0.00,0.15,0.54,-8.64,121.00,214215,1,"6,540,577.00","[Lil Baby, Lil Uzi Vert]",Lil Baby
6132,7LSpFCvRZZot2AlmkUzy9k,Travis Scott,SIRENS,Cactus Jack/Epic,A,Minor,3 beats,0.59,0.88,0.07,...,0.00,0.77,0.24,-6.12,96.00,204447,2,"30,561,552.00",[Travis Scott],Travis Scott
2248,2g6tReTlM2Akp41g0HaeXN,"Kendrick Lamar, Blxst, Amanda Reifer",Die Hard,pgLang/Top Dawg Entertainment/Aftermath/Inters...,C#/Db,Minor,4 beats,0.78,0.74,0.25,...,0.00,0.13,0.36,-8.07,100.99,239027,7,"28,421,547.00","[Kendrick Lamar, Blxst, Amanda Reifer]",Kendrick Lamar

In [5]:
# Review the data especially the weeks_on_chart, to confirm that every track present on chart
df.describe()

,danceability,energy,speechiness,acousticness,instrumentalness,liveness,valence,loudness,tempo,duration_ms,weeks_on_chart,streams
count,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6513.000000,6.513000e+03
mean,0.681731,0.636522,0.121933,0.236761,0.012469,0.180168,0.492412,-6.350667,122.117244,202566.684170,13.614924,1.089647e+08
std,0.141787,0.164813,0.113441,0.244784,0.075151,0.138054,0.227001,2.536114,29.416097,49199.592333,24.084051,2.276695e+08
min,0.150000,0.021800,0.023200,0.000008,0.000000,0.019700,0.032000,-34.475000,46.718000,30133.000000,1.000000,2.525159e+06
25%,0.591000,0.534000,0.044000,0.044400,0.000000,0.097400,0.316000,-7.564000,98.007000,173038.000000,1.000000,8.695060e+06
50%,0.698000,0.651000,0.072200,0.145000,0.000000,0.124000,0.489000,-5.983000,120.034000,198367.000000,4.000000,2.712856e+07
75%,0.785000,0.759000,0.163000,0.356000,0.000041,0.219000,0.669000,-4.673000,142.025000,226003.000000,16.000000,9.951456e+07
max,0.985000,0.989000,0.966000,0.994000,0.953000,0.977000,0.982000,1.509000,212.117000,690732.000000,367.000000,3.528450e+09

# Preparation

In [71]:
# Create new column to store artist name list, in case there were more than 1 artist contributed
# Create new column to store only main artist name
df['artist_list'] = df.artist_names.str.split(",")
df['first_artist'] = df['artist_list'].apply(lambda x: x[0].strip() if x else None)

In [87]:
# Convert Data Type
df['streams'] = df['streams'].astype(float)
df['weeks_on_chart'] = df['weeks_on_chart'].astype(float)

In [94]:
df[['streams', 'weeks_on_chart']].dtypes

streams           float64
weeks_on_chart    float64
dtype: object

# Top Song by Streams

In [73]:
pd.set_option('display.float_format', '{:,.2f}'.format)
sorted_stream = df.sort_values(by="streams", ascending = False)

sorted_stream[['artist_names', 'track_name', 'streams', 'weeks_on_chart']].head(5)

       artist_names         track_name          streams  weeks_on_chart
435      The Weeknd    Blinding Lights 3,528,450,184.00             224
6383     Ed Sheeran       Shape of You 3,509,169,565.00             333
6378  Lewis Capaldi  Someone You Loved 3,029,241,037.00             270
748      Ed Sheeran            Perfect 2,797,600,939.00             363
3523   Harry Styles          As It Was 2,580,052,047.00             102

# Top Song by Weeks on Chart

In [75]:
pd.set_option('display.float_format', '{:,.2f}'.format)
sorted_weeks = df.sort_values(by="weeks_on_chart", ascending = False)

sorted_weeks[['artist_names', 'track_name', 'weeks_on_chart', 'streams']].head(5)

,artist_names,track_name,weeks_on_chart,streams
688,Imagine Dragons,Believer,367,"2,120,386,471.00"
748,Ed Sheeran,Perfect,363,"2,797,600,939.00"
6383,Ed Sheeran,Shape of You,333,"3,509,169,565.00"
752,"Billie Eilish, Khalid",lovely (with Khalid),308,"2,417,312,282.00"
4946,James Arthur,Say You Won't Let Go,297,"1,959,283,644.00"

# Top Artists by Amount of Songs Present on Chart

In [74]:
artist_song_in_chart = df['first_artist'].value_counts()

artist_song_in_chart.head(10)

Taylor Swift     200
Drake            175
Bad Bunny        108
Post Malone       94
BTS               82
Juice WRLD        81
Ariana Grande     81
The Weeknd        74
Ed Sheeran        71
Eminem            66
Name: first_artist, dtype: int64

# Artists With Most Week on Chart

First Case Weeks on Chart

In [9]:
# In 1 track there might have more than 1 artist. And the name of artist of that track most likely
# start with main artist followed by feturing artist. 
# This first case consider number of Week On Chart to every artist that contributed to that track equaly 

artist_dic = {}

def applyAllArtist(record):
    global artist_dic
    
    for artist in record['artist_list']:
        artist = artist.strip()
        # Check did specific artist already exists in dictionary
        if artist in artist_dic:
            artist_dic[artist] += record["weeks_on_chart"]               
        else:
            artist_dic[artist] = record["weeks_on_chart"]
                
                
df.apply(applyAllArtist, axis = 1)

print("Funtion applyAllArtist Applied")

Funtion applyAllArtist Applied

In [62]:
df_all_chartweek = pd.DataFrame(artist_dic, index = [0]).T.sort_values(0, ascending = False)
df_all_chartweek.rename(columns = {0:"Total Week on Chart"}, inplace = True)
df_all_chartweek.head()

             Total Week on Chart
Bad Bunny                   2912
Drake                       2436
The Weeknd                  2243
Post Malone                 2213
Ed Sheeran                  2080

Second Case Weeks on Chart

In [11]:
# This case will give Main Artist wiht full of Week On Chart value
# For Featuring Artist that contributed to the track will get half of the Week On Chart value

artist_dic_full_n_half = {}

def applyFullAndHalf(record):
    global artist_dic_full_n_half
    num_artists = len(record['artist_list'])
    
    for index, artist in enumerate(record['artist_list']):
        artist = artist.strip()
        # Check did specific artist already exists in dictionary
        
        if artist in artist_dic_full_n_half:
            if index == 0: # first artist gets full week_on_chart value
                artist_dic_full_n_half[artist] += record["weeks_on_chart"]
                
            else: # other artist get half of week_on_chart value
                artist_dic_full_n_half[artist] += record["weeks_on_chart"] / 2
                
        else:
            if index == 0: # First artist gets full weeks_on_chart values
                artist_dic_full_n_half[artist] = record["weeks_on_chart"]
                
            else:
                artist_dic_full_n_half[artist] = record["weeks_on_chart"] / 2 
                
                
df.apply(applyFullAndHalf, axis = 1)

print("Funtion applyFullAndHalf Applied")

Funtion applyFullAndHalf Applied

In [63]:
df_full_n_half_chartweek = pd.DataFrame(artist_dic_full_n_half, index = [0]).T.sort_values(0, ascending = False)
df_full_n_half_chartweek.rename(columns = {0:"Total Week on Chart"}, inplace = True)
df_full_n_half_chartweek.head()

             Total Week on Chart
Bad Bunny               2,316.50
Post Malone             2,157.50
Drake                   2,084.00
The Weeknd              2,045.00
Ed Sheeran              2,005.50

Third Case Weeks on Chart

In [13]:
# In this case we only give the Week On Chart value to the Main Artist for measuring individual artist or band

first_artist_only_dic = {}

def applyFirstOnly(record):
    global first_artist_only_dic
    
    # only process the first artist in the list
    if record['artist_list']: # check is list empty 
        first_artist = record['artist_list'][0].strip()  # Locate the first artist in the list
        
        if first_artist in first_artist_only_dic:
            first_artist_only_dic[first_artist] += record['weeks_on_chart']
            
        else:
            first_artist_only_dic[first_artist] = record['weeks_on_chart']
            
df.apply(applyFirstOnly, axis = 1)

print("Function applyFirstOnly Applied")

Function applyFirstOnly Applied

In [64]:
df_first_only_chartweek = pd.DataFrame(first_artist_only_dic, index = [0]).T.sort_values(0, ascending = False)
df_first_only_chartweek.rename(columns = {0:"Total Week on Chart"}, inplace = True)
df_first_only_chartweek.head()

             Total Week on Chart
Post Malone                 4204
Ed Sheeran                  3862
The Weeknd                  3694
Drake                       3464
Bad Bunny                   3442

Alternative Way to process Third Case Weeks on Chart

In [58]:
# Another way to do third case
# Extract main artist name from artist_list 
# Groupby artist name then sum up weeks_on_chart 

group_main_artist = df.groupby(by='first_artist')

group_week_sum = group_main_artist['weeks_on_chart'].sum()

group_week_sum.sort_values(ascending = False).head()

first_artist
Post Malone    2102
Ed Sheeran     1931
The Weeknd     1847
Drake          1732
Bad Bunny      1721
Name: weeks_on_chart, dtype: int64

# Top Artist by Streams

First Case Top Artists by Streams

In [21]:
# In 1 track there might have more than 1 artist. And the name of artist of that track most likely
# start with main artist followed by feturing artist. 
# This first case consider number of Streams to every artist that contributed to that track equaly 

stream_dic = {}

def applyStreamArtist(record):
    global stream_dic
    
    for artist in record['artist_list']:
        artist = artist.strip()
        # Check did specific artist already exists in dictionary
        if artist in stream_dic:
            stream_dic[artist] += record["streams"]               
        else:
            stream_dic[artist] = record["streams"]
                
                
df.apply(applyStreamArtist, axis = 1)

print("Funtion applyStreamArtist Applied")

Funtion applyStreamArtist Applied

In [65]:
df_full_streams = pd.DataFrame(stream_dic, index = [0]).T.sort_values(0, ascending = False)
df_full_streams.rename(columns = {0:"Total Streams of Artist"}, inplace = True)
df_full_streams.head()

              Total Streams of Artist
Bad Bunny           31,355,337,608.00
The Weeknd          21,530,493,586.00
Drake               20,961,364,679.00
Post Malone         17,775,430,798.00
Taylor Swift        17,106,209,239.00

Second Case Top Artists by Streams

In [26]:
# This case will give Main Artist wiht full of Week On Chart value
# For Featuring Artist that contributed to the track will get half of the Week On Chart value

stream_full_n_half = {}

def applyStreamFullAndHalf(record):
    global stream_full_n_half
    num_artists = len(record['artist_list'])
    
    for index, artist in enumerate(record['artist_list']):
        artist = artist.strip()
        # Check did specific artist already exists in dictionary
        
        if artist in stream_full_n_half:
            if index == 0: # first artist gets full week_on_chart value
                stream_full_n_half[artist] += record["streams"]
                
            else: # other artist get half of week_on_chart value
                stream_full_n_half[artist] += record["streams"] / 2
                
        else:
            if index == 0: # First artist gets full weeks_on_chart values
                stream_full_n_half[artist] = record["streams"]
                
            else:
                stream_full_n_half[artist] = record["streams"] / 2 
                
                
df.apply(applyStreamFullAndHalf, axis = 1)

print("Funtion applyFullAndHalf Applied")

Funtion applyFullAndHalf Applied

In [67]:
df_full_n_half_stream = pd.DataFrame(stream_full_n_half, index = [0]).T.sort_values(0, ascending = False)
df_full_n_half_stream.rename(columns = {0:"Total Streams of Artist"}, inplace = True)
df_full_n_half_stream.head()

              Total Streams of Artist
Bad Bunny           26,036,943,787.00
The Weeknd          19,870,158,192.00
Drake               18,110,387,433.50
Post Malone         17,368,989,875.50
Taylor Swift        16,752,956,374.00

Third Case Top Artist by Streams

In [41]:
# Third Case
# In this case we only give the Week On Chart value to the Main Artist for measuring individual artist or band

stream_first_artist_only_dic = {}

def applyStreamFirstOnly(record):
    global stream_first_artist_only_dic
    
    # only process the first artist in the list
    if record['artist_list']: # check is list empty 
        first_artist = record['artist_list'][0].strip()  # Locate the first artist in the list
        
        if first_artist in stream_first_artist_only_dic:
            stream_first_artist_only_dic[first_artist] += record['streams']
            
        else:
            stream_first_artist_only_dic[first_artist] = record['streams']
            
df.apply(applyStreamFirstOnly, axis = 1)

print("Function applyStreamFirstOnly Applied")

Function applyStreamFirstOnly Applied

In [68]:
df_first_only_stream = pd.DataFrame(stream_first_artist_only_dic, index = [0]).T.sort_values(0, ascending = False)
df_first_only_stream.rename(columns = {0:"Total Streams of Artist"}, inplace = True)
df_first_only_stream.head()

              Total Streams of Artist
Bad Bunny           20,718,549,966.00
The Weeknd          18,209,822,798.00
Post Malone         16,962,548,953.00
Taylor Swift        16,399,703,509.00
Ed Sheeran          15,379,938,180.00

Alternative Way to process Third Case

In [59]:
# Another way to do Third case
# We have grouped main artist name previously
# In here we could just sum by streams

agg_main_artist = group_main_artist['streams'].sum()

agg_main_artist.sort_values(ascending = False).head()

first_artist
Bad Bunny      20,718,549,966.00
The Weeknd     18,209,822,798.00
Post Malone    16,962,548,953.00
Taylor Swift   16,399,703,509.00
Ed Sheeran     15,379,938,180.00
Name: streams, dtype: float64

# Curiosity Info

In [78]:
# Top dance abilitiy
top_dance_ability = df.sort_values(by='danceability', ascending = False)

# Top energetic tracks
top_energy = df.sort_values(by='energy', ascending = False)

# Top spoken of 
top_spoken = df.sort_values(by='speechiness', ascending = False)

Top dance abilitiy

In [83]:
top_dance_ability[['artist_names', 'track_name', 'danceability', 'weeks_on_chart', 'streams']].head()

,artist_names,track_name,danceability,weeks_on_chart,streams
700,MC Rogerinho,Botadinha Saliente,0.98,1,"6,882,424.00"
5333,347aidan,Dancing in My Room,0.98,3,"14,275,400.00"
1062,"Young Thug, Lil Baby",Bad Bad Bad (feat. Lil Baby),0.97,12,"73,505,080.00"
4511,"Quality Control, Lil Baby, DaBaby",Baby (Lil Baby feat. DaBaby),0.97,18,"85,663,330.00"
2341,"Quality Control, Lil Baby, DaBaby",Baby,0.97,4,"22,434,320.00"

Top Energy

In [84]:
top_energy[['artist_names', 'track_name', 'energy', 'weeks_on_chart', 'streams']].head()

,artist_names,track_name,energy,weeks_on_chart,streams
2380,"Shouse, David Guetta",Love Tonight (David Guetta Remix Edit),0.99,2,"10,596,037.00"
6434,"El Alfa, Peso Pluma",PLEBADA,0.99,1,"7,848,528.00"
3801,Linkin Park,Faint,0.98,1,"3,999,505.00"
1377,"El Alfa, Peso Pluma",PLEBADA,0.98,2,"8,479,993.00"
2031,Outkast,Hey Ya!,0.97,1,"3,635,414.00"

Top Spoken Of

In [85]:
top_spoken[['artist_names', 'track_name', 'speechiness', 'weeks_on_chart', 'streams']].head()

,artist_names,track_name,speechiness,weeks_on_chart,streams
419,Paul Rosenberg,Paul - Skit,0.97,2,"17,969,356.00"
425,XXXTENTACION,The Explanation,0.95,1,"3,275,927.00"
3013,Lil Wayne,I Love You Dwayne,0.94,1,"5,553,668.00"
3033,Logic,Grandpa's Space Ship,0.89,1,"4,248,642.00"
3551,BTS,Skit,0.88,1,"8,392,247.00"